@import '../../../theme/web/custom-variables';

.loginbg{
    background-image: url("./Image/loginbg.jpg");
    background-size: cover;
    height: 100 vh;
    align-items: center;
    align-content: center;
};