@import './custom-variables';

.loginbg {
    background-image: url("./image/abstractbg.jpeg");
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    height: 100vh;
    z-index: -1;
}

.loginbg::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: inherit;
    background-size: 105vw 105vh;
    filter: blur(10px); /* Adjust the blur amount as needed */
    z-index: -1;
}

.loginglass {
    z-index: 3;
    min-height: 90vh;
    background-color: rgba(255, 255, 255, 0.615);
    backdrop-filter: blur(20px);
    border-radius: 3rem;
    border: 1px solid rgba(238, 238, 238, 0.937);
    box-shadow: 0 0 15px 3px #fbfbfb69;
    padding: 15px;
};


.loginbox {
  border-radius: 20px;
  border-style: none;
  width: 250px;
}

.loginbox:focus{
  border-radius: 20px;
  border-style: none;
}

.loginbtn{
    border-radius: 20px;
    height: 40px;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    width: 250px;
}

.loginboxlabel{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 14px;
}

.weltxt{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 28px;
  font-weight: 400;
}

.weltxtbtm{
color: gray;
}

.inputbox{
.form-control{
  border-radius: 20px;
  border-style: none;
  width: 250px; 
}
}

.inputbox{
  .mx-validation-message {
    margin-top: 8px;
    margin-bottom: 0;
    padding: 2px 6px;
    color: #d70000;
    border-color: #ff828e;
    background-color: #f9d9dc;
    border-radius: 2rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 13px;
  }

  .form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    opacity: 1;
    border-style: none;
    background-color: rgba(217, 217, 217, 0.91);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
}

.inputbox2{
  .form-control{
    border-radius: 20px;
    border-style: none;
    // width:600px;
  }

  .mx-validation-message {
    margin-top: 8px;
    margin-bottom: 0;
    padding: 2px 6px;
    color: #d70000;
    border-color: #ff828e;
    background-color: #f9d9dc;
    border-radius: 2rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 13px;
  }

  .form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    opacity: 1;
    border-style: none;
    background-color: rgba(217, 217, 217, 0.91);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
}