@import './custom-variables';
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

.glass {
    z-index: 1;
    height:95vh;
    width:90vw;
    // background-color: rgba(255, 255, 255, 0.615);
    // background-color: rgba(255, 255, 255, 0.310);
    background-color: rgba(255, 255, 255, 0.210);
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 3rem;
    border: 1px solid rgba(238, 238, 238, 0.341);
    // box-shadow: 0 0 15px 3px #fbfbfb69;
};
.glassp{
    width:100vw;
    height: 100vh;
}

/*change this if need to put image as background instead of video*/

// .homebg{
//     background-image: url("./image/loginbg.jpg");
//     background-size: cover;

// }

.myvideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
}

.profilelistview {
.mx-listview > ul > li:last-child {
    border-bottom: none;
    padding: 0;
}
}

.profile-pic{
    height:30px;
    width:30px;
    border-radius:50%;
    // border: 1px solid rgba(238, 238, 238, 0.341);
    // padding: 5px;
    overflow: hidden;
    img{
        min-height: 100%;
    }
}
.navtxt{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

.right-bgcont{
    height:79vh;
    img{
       min-height: 100%;
       object-fit: cover;
       overflow: hidden;
       border-bottom-right-radius: 3rem;
       border-radius: 3rem;
    }
}

.left-bgcont{
    height:79vh;
    width: auto;
    border-bottom-left-radius: 3rem;
    border-radius: 3rem;
    border: 1px solid rgba(238, 238, 238, 0.341);
}

.front-desk-txt{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 52px;
    transition: ease-in-out 300ms;
    cursor: pointer;
    outline: none;
}
.front-desk-txt:hover{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 54px;
    letter-spacing: 2px;
    cursor: pointer;
    outline: none;
}
.wel-txt{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 28px;
}

.desc-txt{
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: medium;
}



