@import "../../themesource/datawidgets/web/_datagrid-filters.scss";
@import './custom-variables';
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

.glass {
    z-index: 1;
    height:95vh;
    width:90vw;
    // background-color: rgba(255, 255, 255, 0.615);
    // background-color: rgba(255, 255, 255, 0.310);
    background-color: rgba(255, 255, 255, 0.210);
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 3rem;
    // border: 1px solid rgba(88, 88, 88, 0.341);
    box-shadow: 0 0 15px 3px #8f8f8f69;
};
.glassp{
    width:100vw;
    height: 100vh;
}

/*change this if need to put image as background instead of video*/

.homebg{
    background-image: url("./image/bg3.jpg");
    background-size: contain;

}

.myvideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  display: none;
}

.profilelistview {
.mx-listview > ul > li:last-child {
    border-bottom: none;
    padding: 0;
}
}

.profile-pic{
    height:30px;
    width:30px;
    border-radius:50%;
    overflow: hidden;
    img{
        min-height: 100%;
    }
}

.profile-pic-l{
    border: 3px solid transparent;
    margin-top: 10px;
    height:200px;
    width:200px;
    border-radius:50%;
    overflow: hidden;
    background-color: #f5f5f5;
    box-shadow: 0 0 8px 3px rgba(108, 106, 106, 0.656);
    transition: border ease-in-out 300ms;
    img{
        // min-height: 100%;
        // min-width: 100%;
    }
}

.profile-pic-l:hover{
   border: 3px solid black;
}

.navtxt{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

.right-bgcont{
    height:79vh;
    box-shadow: 0 0 8px 3px #8f8f8f69 ;
    border-radius: 3rem;
    
    img{
       min-height: 100%;
       object-fit: cover;
       overflow: hidden;
       border-bottom-right-radius: 3rem;
       border-radius: 3rem;
    }
}

.left-bgcont{
    height:79vh;
    width: auto;
    border-bottom-left-radius: 3rem;
    border-radius: 3rem;
    border: 1px solid #8f8f8f69;
    box-shadow: 0 0 7px 3px #8f8f8f9b inset ;
}

.front-desk-txt{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 52px;
    transition: ease-in-out 300ms;
    cursor: pointer;
    outline: none;
}
.front-desk-txt:hover{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    letter-spacing: 2px;
    cursor: pointer;
    outline: none;
    transition: all 300ms;
}

.wel-txt{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 28px;
}

.desc-txt{
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: medium;
}


//File uploader Widget Styling

body .mx-fileinput .mx-compound-control {
    display: grid;
    grid-template-columns: 1fr 30px 30px;
    gap: 2px;
    background-color: white;
    border-radius: 30px;
}

body .mx-fileinput .mx-compound-control .btn.mx-fileinput-upload-button {
    background-image: url("./image/attach.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 13px auto;
}

body .mx-fileinput .mx-compound-control .btn[disabled].mx-fileinput-download-button {
    opacity: 0.2;
    pointer-events: none;
}

body .mx-fileinput .mx-compound-control .btn.mx-fileinput-download-button {
    background-image: url("./image/download-file.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 15px auto;
}

body .mx-fileinput .mx-compound-control .btn {
    width: 30px;
    background: transparent;
    outline: none;
    border: none;
    color: transparent;
    padding: 0;
    margin: 0 !important;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    opacity: 1;
    border-style: none;
    background-color: white;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

//Custom setting card with hover animations

.setting-card {
  height:250px;
  width:400px;
  box-shadow: 0 0 8px 3px #8f8f8f69 ;
  border-radius: 2rem;
  background-color: rgba(255, 255, 255, 0.362);  
 transition: ease-in-out 300ms;
}

.setting-card:hover {
  background-color: rgba(48, 46, 46, 0.362);  
  
}

.setting-card:hover img{
  filter: invert(20);
}
.setting-card:hover .setting-card-txt{
  color: white;
}

//Custom scrollbar

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: rgb(137,109,209);
}

.custom-scrollcont{
.mx-scrollcontainer-wrapper {
    overflow: auto;
    border-radius: 2rem;
    padding:10px;
}
}

.scroll-inner{
height:74vh;
border-radius:2rem;
overflow-x: hidden;
}

.alert-number{
    position: absolute;
    margin-top: -25px;
    margin-left: 12px;
    border-radius: 2rem;
    min-width: 15px;
    background-color: rgb(255, 163, 179);
}

.alert-txt-number{
    font-size: x-small;
    color: white;
}

.cust-btn-g{
    border-radius: 2rem;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 14px;
    padding: 8px;
    border-style: none;
    color: white;
    background-color: #68a618;
}

.cust-btn-g:hover{
    background-color: white;
    color:#68a618;

}

.cust-btn-y{
    border-radius: 2rem;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 14px;
    padding: 8px;
    border-style: none;
    color: white;
    background-color: #ebaa08;
}

.cust-btn-y:hover{
    background-color: white;
    color:#ebaa08;

}
.product-img{
    background-color: rgb(207, 207, 207);
    height:300px;
    width:300px;
    border-radius:1rem;
    overflow: hidden;
    transition: all ease-in-out 300ms;
    img{
        object-fit: contain;
        min-height: 100%;
    }
} 

.product-rt-cont{
    height:300px;
    width:400px;
}

.bill-img{
    height:140px;
    width:300px;
    border-radius:1rem;
    transition: all ease-in-out 300ms;
    img{
        object-fit: contain;
        width: 100%;
        height: 100%;
        padding: 5px;
        filter: invert(100%);
        transition: all ease-in-out 300ms;
    }
} 

.bill-rt-cont{
    height:140px;
    width:auto;
}


.listv-cont{
    border-radius: 20px;
    padding: 15px;
    box-shadow: 0 0 8px 3px #8f8f8f69 ;
    margin: 10px;
    transition: all ease-in-out 300ms;
}

.listv-cont:hover {
    background-color: rgb(207, 207, 207);
}

.listv-cont:hover .bill-img img {
    filter: none;
    
}

.listv-cont:hover .product-img {
    background-color: rgb(208,220,230);
}
.protxt{
    font-family: "Poppins", sans-serif;
    font-size: 18px;
}
.protxt-sm{
    font-family: "Poppins", sans-serif;
    font-size: 16px;
}

.bold{
    font-weight: 500;
}

.redlabel{
    background-color: rgb(255, 114, 114);
    border-radius: 2rem;
    padding:0 6px;
}

.greenlabel{
    background-color: rgb(18, 219, 0);
    border-radius: 2rem;
    padding:0 6px;
}

.dlt-btn{
    border-radius: 1.5rem;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 14px;
    padding: 8px;
    border-style: none;
    color: white;
    background-color: rgb(255, 82, 82);
}

.dlt-btn:hover {
    background-color: white;
    color: rgb(255, 82, 82);

}


.bill-btn{
    border-radius: 1.5rem;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 14px;
    padding: 8px;
    border-style: none;
    color: black;
    background-size: 210% 100%;
    background-position: right;
    transition: background-position 350ms ease-in-out;
    background-image: linear-gradient(to right, rgb(0, 0, 0) 50%, transparent 50%);
}

.bill-btn:hover {
    background-position: left;
    color: white;

}



.print-cont{
    padding: 3px;
    border-radius: 50%;
    color: white;
    position: relative;
    overflow: hidden;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background-color: black;
      transform-origin: right;
      transform: scaleX(0);
      transition: transform 0.3s ease-in-out;
    }
    span {
      position: relative;
    }
    img {
    margin: 5px;
    }
    &:hover {
      color: white;
      &::before {
        transform: scaleX(1);
        transform-origin: left;
      }
      img{
          filter: invert(100) blur(0);
          z-index: 66;
      }
    }
  
}


//Custom date picker

.cust-date{
    .mx-validation-message {
    margin-top: 8px;
    margin-bottom: 0;
    padding: 2px 6px;
    color: #d70000;
    border-color: #ff828e;
    background-color: #f9d9dc;
    border-radius: 2rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 13px;
    }

    .mx-compound-control .btn {
        margin-left: 0px;
    }
    .form-control {
        display: flex;
        flex: 1;
        min-width: 50px;
        height: auto;
        padding: 8px 8px;
        color: #0a1325;
        border-style: none;
        border-radius: 2rem;
        box-shadow: none;
        font-size: 14px;
        line-height: 1.428571429;
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
    }
    .mx-compound-control {
        display: flex;
        flex: 1;
        flex-wrap: wrap;
        border-style: none;
        background-color: white;
        border-radius: 2rem;
        width:250px;
    }
    .mx-compound-control .btn {
        margin-left: 0px;
        border-style: none;
        border-radius: 0;
        background-color: transparent;
    }
    .form-control:not([readonly]):focus {
        border-style: none;
        outline: 0;
        box-shadow: none;
    }
    .form-group .mx-validation-message {
    flex-basis: 30%;
        .has-error .mx-validation-message {
            margin-top: 8px;
            margin-bottom: 0;
            padding: 4px;
            color: #88262f;
            font-size: 12px;
            border-color: #9f2c37;
            background-color: aliceblue;
        }
    }

    .has-error .mx-validation-message {
        margin-top: 8px;
        margin-bottom: 0;
        padding: 4px;
        color: #88262f;
        font-size: 12px;
        border-color: #9f2c37;
        background-color: aliceblue;
    }
    background-color: transparent;
}

.profile-txt{
    font-family: "Poppins", sans-serif;
}
.bold-p{
   font-weight: 600; 
}

.profile-txt-l{
    font-size: 24px;
}

.profile-txt-m{
    font-size: 16px;
}

.profile-txt-s{
    font-size: 12px;
}
.profbtn{
    font-family: "Poppins", sans-serif;
    color: #000000;
    font-size: 16px;
    background-color: #f78623dd;
    border-radius: 2rem;
    padding: 1px 8px;
    border-style: none;

}

.logout-btn{
    padding: 3px;
    border-radius: 50%;
    background-color: white;
    color: white;
    position: relative;
    overflow: hidden;
    border-style: none;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background-color: rgb(217, 0, 0);
      transform-origin: right;
      transform: scaleX(0);
      transition: transform 0.3s ease-in-out;
    }
    span {
      position: relative;
    }
    img {
    margin: 4px;
    }
    &:hover {
      &::before {
        transform: scaleX(1);
        transform-origin: left;
      }
      img{
          filter: invert(100);
          z-index: 66;
      }
      .logout-btn{
          background-color: rgb(217, 0, 0) ;
      }
    }
}

.user-role{
    padding: 1px 8px;
    background-color: #e7e7e9;
    border-radius: 2rem;
}
    
.topbar-btn{
    box-shadow: 0 0 3px 2px rgba(143, 143, 143, 0.868) ;
    border-radius: 1.5rem;
    padding: 2px 8px;
}

.blank{
    border-radius: 1.5rem;
    box-shadow: 0 0 3px 2px rgba(255, 255, 255, 0) ;
    padding: 2px 8px;
}
